img{
    width: 40%;
    height: auto;
    flex: right;
}

p{
    /* text-align: center; */
    float: right;
}

#content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

